<div class="jumbotron mt-2">
    <h1 class="display-4">Contact List</h1>
    <p class="lead">Here you can Storage all your data information</p>
    <hr class="my-4">
    <a href="/login" class="btn btn-primary">Conect</a>
</div>

